.flex {
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
  inline-size: 70vw;
  aspect-ratio: 16 / 9;
}

.title {
  padding-inline-start: 2.5rem;
  padding-block-start: 2.5rem;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    inline-size: 100vw;
  }
  .title {
    display: none;
  }
}
